/* app css stylesheet */

header {
  background: #001627;
  text-align: center;
  padding: 1px 0;
}

.menu {
  list-style: none;
}

.menu > li {
  display: inline;
  padding-right: 2em;
}

.menu > li:last-child {
  padding-right: 0;
}

.menu > li a {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.menu > li a:hover {
  color: #ffffffbf;
}

#news-wrapper, #createnews-wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}